<li class="sound-notification group">
  <div class="notify-image" style="background-image: url(<%= badgeImg %>)"></div>
  <span class="notify-text">
    <p class="notify-title">
      <%= sound.escape('title') %>
    </p>
    <% if (type === "Playlist") { %>
      <p>was added to <a class="blue-link" href="#/users/<%= Trackstack.currentUser.id %>"><%= playlistTitle %></a>.</p>
    <% } else { %>
      <p>was saved to <a class="blue-link" href="#/users/<%= Trackstack.currentUser.id %>/likes">your Collection</a>.</p>
    <% }; %>
  </div>
</li>
