<div class="banner">
  <div class="profile-header">
    <div class="profile-edit">
      <div class="profile-user-info">
        <div class="profile-user-details banner-raise left">
          <h3 class="profile-user-text"><%= user.escape("username") %></h3><br>
          <h4 class="profile-user-text">
            <%= user.escape("fname") %>
            <%= user.escape("lname") %>

          </h4>
        </div>
        <% if (user.id === currentUser.id) { %>
          <div class="profile-current-user banner-raise right">
            <button class="button header-photo-button right css-file-input" data-form-type="#cover-file-input-button">Upload header image</button>
          </div>

        <% }; %>

      </div>
    </div>

    <div class="profile-header-info group">
          <!-- <div class="profile-cover-photo"> -->
            <div class="profile-cover-photo background-img" style="background-image: url(<%= user.escape('img_cover') %>);">
            </div>
          <!-- </div> -->
      <div class="profile-header-avatar banner-raise left">
        <div class="profile-photo" style="background-image: url(<%= user.escape('img_profile') %>);">
        </div>
        <% if (user.id === currentUser.id)  { %>
          <div class="profile-current-user avatar-button">
            <button class="button header-avatar-button css-file-input" data-form-type="#profile-file-input-button">Update image</button>
          </div>
        <% }; %>
      </div>

    </div>
  </div>
</div>

<div class="horizontal-bar">
  <div class="user-tabs-wrapper">
    <div class="user-tabs-container group">
      <ul class="user-tabs-list left">
        <li class="left"><a class="active feed-links" href="#" data-feed-type="All">All</a></li>
        <li class="left"><a class="feed-links" href="#" data-feed-type="Tracks">Tracks</a></li>
        <li class="left"><a class="feed-links" href="#" data-feed-type="Playlists">Playlists</a></li>

      </ul>

    </div>
  </div>
</div>

<section class="content-wrapper">
  <div class="main">

    <% if (user.id !== currentUser.id) { %>
      <button
        class="button button-orange follow-button
          <% if (user.followers().findWhere({id: currentUser.id}))  { %>
             button-orange-border
          <% } %>"
        data-user-id="<%= user.id %>"
        data-follow-state="<%= !!user.followers().findWhere({id: currentUser.id}) %>">
      </button>
    <% } %>

  </div>
  <div class="sidebar">
  </div>
</section>
<div class="user-stats">
  <p>Followers: <strong id="follower-count"><%= user.followers().length %></strong></p>
  <p id="track-count">Tracks: <%= user.tracks().length %></p>
</div>

<a href="#">Back to Index</a>

<div id="feed">
</div>
