<div class="banner">
  <div class="profile-header">
    <div class="profile-edit">
      <div class="profile-user-info">
        <div class="profile-user-details banner-raise left">
          <h3 class="profile-user-text"><%= user.escape("username") %></h3><br>
          <h4 class="profile-user-text">
            <%= user.escape("fname") %>
            <%= user.escape("lname") %>

          </h4>
        </div>
        <% if (user.get("current_user") === true) { %>
          <div class="profile-current-user banner-raise right">
            <button class="button header-photo-button right" id="css-file-input">Upload header image</button>
          </div>

            <form class="file-input-plugin">
              <div class="input-hider">
                <input class="file-input" id="file-input-button" type="file" name="user[img]" value="gfg">
              </div>
            </form>
        <% }; %>

      </div>
    </div>

    <div class="profile-header-info group">
          <!-- <div class="profile-cover-photo"> -->
            <div class="profile-cover-photo background-img" style="background-image: url(<%= user.escape('img_cover') %>);">
            </div>
          <!-- </div> -->
      <div class="profile-header-avatar banner-raise left">
        <% if (user.get("current_user") === true) { %>
          <div class="profile-current-user avatar-button">
            <button class="button header-avatar-button">Update image</button>
          </div>
        <% }; %>
      </div>

    </div>
  </div>
</div>

<div class="horizontal-bar">
  <div class="user-tabs-wrapper">
    <div class="user-tabs-container group">
      <ul class="user-tabs-list left">
        <li class="left"><a class="active" href="#">All</a></li>
        <li class="left"><a href="#">Tracks</a></li>
        <li class="left"><a href="#">Playlists</a></li>

      </ul>

    </div>
  </div>
</div>

<section class="content-wrapper">
  <div class="main">

    <% if (user.get("current_user") === false) { %>
      <button
        class="button button-orange follow-button
          <% if (user.get('followed')) { %>
            <%= 'button-orange-border' %>
          <% } %>"
        data-user-id=<%= user.id %>
        data-follow-state="<%= user.get('followed') %>">
      </button>
    <% } %>

  </div>
  <div class="sidebar">
  </div>
</section>

<p>Followers: <%= user.followers().length %>
<p>Tracks: <%= user.tracks().length %></p>

<a href="#">Back to Index</a>

<div id="feed">
</div>
