
<div class="comment-wrapper group">
  <div class="show-comment-image left" style="background-image: url(<%= comment.escape('img_comment') %>);"></div>
  <div class="comment-title">
    <h4 class="comment-author"><a class="comment-author-link" href="#/users/<%= comment.escape('author_id') %>"><%= comment.escape("author") %></a> says at <%= comment.convertedTime() %></span>
    <abbr class="comment-time timeago right" title="<%= comment.escape("created_at")%>"></abbr></h4>

  </div>
  <div class="comment-content">
    <%= comment.escape("text") %>
  </div>
</div>

<script>
$(function() {
  $("abbr.timeago").timeago();
});
</script>
