
<div class="comment-content">
  <div style="background: url(<%= comment.escape('img_comment') %>);"></div>
  <div class="comment-title">
    <span class="comment-author"><%= comment.escape("author") %></span>
    <span class="track-time timeago" title="<%= comment.escape("submitted_at")%>"></span>
    <abbr class="comment-time timeago" title="<%= comment.escape("created_at")%>"></abbr>
  </div>
  <div class="comment-content">
    <%= comment.escape("text") %>
  </div>
</div>

<script>
$(function() {
  $("abbr.timeago").timeago();
});
</script>
