<div class="banner">
  <div class="profile-header track-show-header">
    <div class="profile-edit track-edit">

      <div class="profile-header-avatar track-header-art banner-raise right">
        <div class="profile-photo track-show-photo" style="background-image: url(<%= track.escape('track_show_img') %>);">
        </div>
      </div>

      <div class="profile-user-info">
        <div class="header-play-button banner-raise left">
          <button class="audio-button track-show-button" id="track-play">
            <i class="material-icons md-56 audio-icon play-icon">&#xE037;</i>
            <i class="material-icons md-56 audio-icon pause-icon">&#xE034;</i>
          </button>
        </div>
        <div class="profile-user-details banner-raise left">

          <h3 class="profile-user-text track-header-author"><%= track.escape("author") %></h3><br>
          <h4 class="profile-user-text track-header-title">
            <%= track.escape("title") %>
          </h4>
        </div>
      </div>
    </div>

    <div class="profile-header-info track-info group ">
      <div class="profile-cover-photo background-img track-show-background" style="background: linear-gradient(135deg, rgb(247, 247, 247) 0%, rgb(145, 144, 144) 100%);">
      </div>
    </div>
    <div id="track-show-player">
    </div>


  </div>
</div>

<section class="content-wrapper">
  <div class="content-wrapper-spacer ">
    <div class="comment-form-wrapper group track-show">
      <div class="submitted-comment">

      </div>
      <div class="feed-comment-container show-comment-container">
        <form class="feed-comment-form show-comment-form">
          <div class="feed-comment-icon show-comment-icon" style="background-image: url(<%= Trackstack.currentUser.escape('img_comment_icon') %>);"></div>
          <input class="feed-comment-input show-comment-input" type="text" class="form-field" name="comment[text]" placeholder="Write a comment...">
        </form>
      </div>

      <div class="social-buttons group show-social-buttons left">
        <ul class="social-buttons-list show-social-buttons-list right">
          <li><button
              class="button like-button
              <% if (!!track.likers().findWhere({ id: Trackstack.currentUser.id})) { %>
                button-orange-border
              <% }; %>"

              data-like-state="<%= !!track.likers().findWhere({ id: Trackstack.currentUser.id }) %>"
              data-id="<%= track.id %>"
              data-sound-type="Track">
              <i class="material-icons md-18 icon">&#xE87D;</i>
            </button>
          </li>

          <li>
            <button
              class="button add-to-playlist-button"
              data-id="<%= track.id %>">
                <i class="material-icons md-18 icon">&#xE03B;</i>Add to Playlist
            </button>
          </li>

          <!-- <li>
            <button class="button repost-button">Repost</button>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="main group">
      <section class="main-left track-author-info">
        <a href="#/users/<%= track.escape('author_id') %>">
          <div class="track-show-author-photo" style="background-image: url(<%= track.escape('author_track_show_img') %>);"></div>
          <div class="track-author"><%= track.escape("author") %></div>
        </a>
        <ul class="track-author-stats group">
          <li><a href="#/users/<%= track.get('author_id') %>/followers" class="track-stats-link"><i class="material-icons md-18 follower-count">&#xE7EF;</i><span id="follower-count"><%= track.authorFollowers().length %></span></a></li>
          <li><a href="#/users/<%= track.get('author_id') %>/tracks" class="track-stats-link"><span class="track-count"></span><%= track.escape("author_tracks") %></a></li>
        </ul>
        <% if (track.get("author_id") !== Trackstack.currentUser.id) { %>
          <button
            class="right button button-orange follow-button track-show  small
              <% if (track.authorFollowers().findWhere({id: Trackstack.currentUser.id}))  { %>
                 button-orange-border
              <% } %>"
            id="author-follow-button"
            data-user-id="<%= track.get('author_id') %>"
            data-follow-state="<%= !!track.authorFollowers().findWhere({id: Trackstack.currentUser.id}) %>">
          </button>
        <% } %>
      </section>

      <section class="main-right">
        <article class="about-track">
          <div class="track-description">
            <div class="track-description-text">
              <%= track.escape("description") %>
            </div>
          </div>
        </article>

        <article class="track-comments-wrapper">
          <div>

          </div>
          <h3 class="track-comments-stats">
            <i class="material-icons md-18 track-show-comments-icon chat">&#xE0CA;</i>
            <strong id="comment-count"><%= track.comments().length %>
            </strong> comments
          </h3>
          <ul id="comments">

          </ul>
        </article>
      </section>



    </div>
  </div>

  <div class="sidebar">

    <div class="user-stats">

      <div class="user-description">

      </div>
    </div>



      <div class="likes-badges">
      </div>
      <div class="following-badges">
      </div>

      <div class="following-badges">
      </div>

  </div>
</section>
