  <a href="<%= "#/tracks/" + sound.id %>" class="left">
    <div class="feed-sound-photo" style="background-image: url(<%= img_url %>);"></div>
  </a>
  <div class="feed-sound-content group">
    <div class="feed-sound-header">
      <h1><%= sound.escape("author") %> <%= sound_type %></h1>
      <h3><%= sound.escape("title") %></h3>
    </div>
    <div id="audio-player">
    </div>

      <div id="comment">

      </div>
    <div class="feed-sound-footer group">
      <div class="social-buttons group left">
        <ul class="social-buttons-list right">
          <li><button
              class="button like-button
              <% if (!!sound.likers().findWhere({ id: currentUser.id})) { %>
                button-orange-border
              <% }; %>"

              data-like-state="<%= !!sound.likers().findWhere({ id: currentUser.id}) %>"
              data-id="<%= sound.id %>"
              data-sound-type="<%= sound_type %>">
            </button>
          </li>


          <% if (sound_type !== "Playlist") { %>
          <li>
            <button
              class="button add-to-playlist-button"
              data-id="<%= sound.id %>">
                Add to Playlist
            </button>
          </li>
          <% }; %>
          <li>
            <button class="button repost-button">Repost</button>
          </li>
        </ul>
      </div>


      <div class="feed-sound-stats right">
        <ul class="feed-stats-list left">
          <li>
            <a href="#" class="feed-stats-link">
              <h3 class="feed-stats"><i class="material-icons sound-feed-stats-icon">&#xE87D;</i><strong id="like-count"><%= sound.likers().length %></strong></h3>
            </a>
          </li>
          <% if (sound_type === "Track") { %>
            <li>
              <a href="#" class="feed-stats-link">
                <h3 class="feed-stats"><i class="material-icons sound-feed-stats-icon chat">&#xE0CA;</i><strong id="comment-count"><%= sound.comments().length %></strong></h3>
              </a>
            </li>
          <% }; %>
      </div>
    </div>
  </div>
