<div class="feed-sound-item">
  <h1><%= sound.escape("title") %> <%= sound_type %></h1>
  <div class="likable">
    <button class="button like-button
      <% if (!!sound.likers().findWhere({ id: currentUser.id})) { %>
        button-orange-border
      <% }; %>"

      data-like-state="<%= !!sound.likers().findWhere({ id: currentUser.id}) %>"
      data-id="<%= sound.id %>"
      data-sound-type="<%= sound_type %>">
    </button>
    <h3>Likes: <%= sound.likers().length %></h3>
  </div>
  <button class="button" id="add-to-playlist-button">Add to Playlist</button>
  <button class="button">Repost</button>

  <input type="text" name="name" value="">
</div>
