
  <ul class="nav-dropdown-list">
    <li><a href="#/users/<%= currentUserId %>"><i class="material-icons md-18">&#xE7FD;</i>Profile</a></li>
    <li><a href="#/users/<%= currentUserId %>/likes"><i class="material-icons md-18">&#xE87D;</i>Likes</a></li>
    <!-- <li><a href="#/users/<%= currentUserId %>/playlists"><i class="material-icons md-18">&#xE02F;</i>Playlists</a></li> -->
    <li><a href="#/users/<%= currentUserId %>/following"><i class="material-icons md-18">&#xE7EF;</i>Following</a></li>
    <!-- <li><a href="#/users/<%= currentUserId %>/tracks"><i class="material-icons md-18">&#xE241;</i>Tracks</a></li> -->
  </ul>
