<div class="nav-dropdown-wrapper">
  <ul class="nav-dropdown-list">
    <li><a href="#/users/<%= currentUserId %>">Profile</a></li>
    <li><a href="#/users/<%= currentUserId %>/likes">Likes</a></li>
    <li><a href="#/users/<%= currentUserId %>/playlists">Playlists</a></li>
    <li><a href="#/users/<%= currentUserId %>/following">Following</a></li>
    <li><a href="#/users/<%= currentUserId %>/tracks">Tracks</a></li>
  </ul>
</div>
