<!DOCTYPE html>
<html>
<head>
  <title>Trackstack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="app">
    <%= render partial: "layouts/header" %>

    <section id="content">
      <%= yield %>
    </section>
  </div>



</body>
</html>
